<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>ReMedial : <%= controller.controller_name.capitalize %></title>
  <%= stylesheet_link_tag 'scaffold' %>
<%= javascript_include_tag 'prototype' %>
<%= javascript_include_tag 'effects' %>
<%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag @themedir+@theme+'.css' %>
</head>
<body>
	<% if flash[:notice]%>
	<div id="flash" class="content-region"><%= flash[:notice] %></div>
	<% end %>
<div id="envelope">
	<div id="header" class="content-region">
		<div id="header_logo"><img src="/themes/default/images/logo.png" alt="logo"/></div>
		<div id="header_text">
			<div id="header_name">ReMedial</div>
			<div id="header_subtitle">Any Media. Anywhere.</div>
		</div>
		<div id="login_nav" class="content-region">
			<div class="content-header">
				<%= render :partial => 'login/form' %>
			</div>
			<div id="icon_nav">
				<%= render :partial => 'global/nav' %>
			</div>
		</div>
	</div>
	<div id="content" class="content-region">
		<%= yield %>
	</div>
</div>
</body>
</html>
