<p>
  <b>Uname:</b>
  <%=h @user.uname %>
</p>

<p>
  <b>Pwd:</b>
  <%=h @user.pwd %>
</p>

<p>
  <b>Fname:</b>
  <%=h @user.fname %>
</p>

<p>
  <b>Mname:</b>
  <%=h @user.mname %>
</p>

<p>
  <b>Lname:</b>
  <%=h @user.lname %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Homepage:</b>
  <%=h @user.homepage %>
</p>

<p>
  <b>Address1:</b>
  <%=h @user.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%=h @user.address2 %>
</p>

<p>
  <b>Country:</b>
  <%=h @user.country %>
</p>

<p>
  <b>State:</b>
  <%=h @user.state %>
</p>

<p>
  <b>City:</b>
  <%=h @user.city %>
</p>

<p>
  <b>Zip:</b>
  <%=h @user.zip %>
</p>

<p>
  <b>Phone:</b>
  <%=h @user.phone %>
</p>

<p>
  <b>Cell:</b>
  <%=h @user.cell %>
</p>

<p>
  <b>Avatar:</b>
  <%=h @user.avatar %>
</p>

<p>
  <b>Group:</b>
  <%=h @user.group %>
</p>

<p>
  <b>Dir:</b>
  <%=h @user.dir %>
</p>

<p>
  <b>Permission:</b>
  <%=h @user.permission %>
</p>

<p>
  <b>Created:</b>
  <%=h @user.created %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>